<%- include('partials/header') %>
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm p-3 m-2 bg-white" style="background-color: #f0f2f5;">
                <i class="fas fa-key fa-3x text-center"></i>
              <h1 class="text-center">You've Discovered My Secret!</h1>
                <div class="card-body p-4">
                    <% usersWithSecrets.forEach(user=> { %>
                        <div class="card shadow-lg mb-4 rounded">
                            <div class="card-body">

                                <p>
                                    <%= user.secret %>
                                </p>

                                <!-- <p>Type your note, and hit enter to add it</p> -->
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <p class="small text-muted mb-0">Upvote?</p>
                                        <i class="far fa-thumbs-up mx-2 fa-xs text-black"
                                            style="margin-top: -0.16rem;"></i>
                                        <p class="small text-muted mb-0">3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                            <hr>
                            <a class="btn btn-dark btn-lg d-flex justify-content-center m-2" href="/submit"
                                role="button">Submit a Secret</a>
                            <a class="btn btn-light btn-lg d-flex justify-content-center m-2" href="/logout"
                                role="button">Log Out</a>
                </div>
            </div>
        </div>

    </div>

    <%- include('partials/header') %>